@import 'plugins/lineawesome.scss';
// @import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');

@import 'plugins/jquery-confirm.scss';
// @import url('https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css');

@import 'plugins/slimselect.scss';
// @import url('https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.css');

@import 'plugins/datatables.scss';
@import 'plugins/datatables_resp.scss';

@import 'plugins/filepond.scss';
@import 'plugins/filepond_preview.scss';
// @import url('https://unpkg.com/filepond/dist/filepond.css');
// @import url('https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css');

@import 'plugins/jexcel.scss';
@import 'plugins/jsuites.scss';
// @import 'https://bossanova.uk/jexcel/v3/jexcel.css';
// @import 'https://bossanova.uk/jsuites/v2/jsuites.css';

.dcmsImg {
    height: 13rem;
    width: 13rem;
    border-radius: 5px;
    margin: 7px;
    object-fit: cover;
}

.dcmsImgsDiv {
    display: block !important;
    justify-content: center;
    max-height: 14rem;
    overflow: scroll;
    margin-bottom: 10px;
    white-space: inherit;
    text-align: center;
}

.spotlight:hover {
    opacity: 0.8;
    cursor: pointer;
}

.ss-main .ss-single-selected .ss-arrow span {
    padding: 2px !important;
}

.kt_datatable_rowcontrols {
    display: inline-block;
}

.glideJSimg {
    height: 100%;
    background-size: 100% 100%;
}